body  {
    padding: 1.5em;
    background-color: white;
}

nav {
    background-color: black;
    display: flex;
    align-items: center;
    width: 100%;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
}

nav a{
    align-items: center;
    color: white;
    text-decoration: none;
    list-style: none;
}

nav li :hover {
    color: gold;
}

.logo, img, p{
    padding-top: 0.5em;
    padding-left: 0.5em;
    display: flex;
    flex-wrap: nowrap;
    width: fit-content;
    flex-shrink: 0;
}

nav ul {
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-content: flex-end;
}

nav li {
    display: inline-flex;
    margin-inline: 1.5em;
    text-decoration: none;
    position: relative;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: white;
    position: absolute;
    top: -10px;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}

nav img {
    display: inline-block;
    height: 2.5em;
    width: 2.5em;
}

header{
    left: 0px;
    top: 0px;
    position: fixed;
    width: 100%;
    height: auto;
    margin-bottom: 5em;
}

.title-area {
    border-radius: 25px;
    background-image: url(./images/sfimage.png);
    padding: 2em;
    background-position: center -6em;
    margin-bottom: 4em;
    margin-top: 4em;
}

#websiteTitle {
    text-align: center;
    margin-bottom: 6em;
    margin-top: 4em;
    min-height: 100%;
    color: white;
    font-family: sans-serif;
}

.about-title{
    font-size:36px;
    margin-top: 3em;
    margin-left: 30%;
    font-family: sans-serif;
}

.page-title {
    margin-top: 3em;
}

.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar img{
    height: 15em;
    width: 15em;
}

.biography {
    margin-left: 30%;
    margin-right: 30%;
    line-height: 2em;
    font-family: sans-serif;
}

.menu {
    font-family: sans-serif;
    font-size: 14px;
}

.menu-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    margin-bottom: 3em;
}

.menu-item {
    display:flex;
    width: 40em;
}

.menu-item-img {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;
    border-radius: 2em;
}

.menu-item a {
    margin-left: 4em;
    text-decoration: none;
    width: 100%;
}

.menu-item-desc p{
    display: flex;
    justify-content: flex-start;
}

.menu-item-heading {
    display: flex;
    margin-right: 1.5em;
    font-family: serif;
}

.menu-group-heading {
    border-bottom: 1px solid black;
    margin-left: 4em;
    margin-right: 4em;
    padding: 1em;
    color: black;
}

.menu-item .btn{
    display:flex;
    padding: 1.5em;
    border: none;
    background: none;
    cursor: pointer;
    width: 100%;
}

.menu-item:hover {
    color: grey;
    transform: scale(1.1);
    transition: all ease 250ms;
}

.ingredients {
    font-size: 16px;
    line-height: 1.5em;
    white-space: pre;
}

.message-box {
    display: flex;
    flex-direction: column;
    height: 20em;
    width: 20em;
    line-height: 1.5em;
}

.message-box textarea{
    margin-top: 1em;
    resize: none;
}

#btn_submit {
    margin-top: 1.5em;
    width: fit-content;
    height: auto;
}

/* 
Detects if screen is larger than 992px or desktop size
*/
@media screen and (min-width: 992px)  {
    .menu {
        font-size: 16px;
    }

    .menu-group {
        /* 
        Takes up two free space instead
        */
        grid-template-columns: repeat(2, 1fr)
    }

    .menu-item-img {
        width:120px;
        height:120px;
    }
}

.instructions {
    font-size: 16px;
    line-height: 2em;
}

img {
    width:500px;
    height:auto;
}